*{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #F9F9F9;
}

#error{
    color:red;
}

#submitted{
    color:green;
}

.center-container{
    text-align: center;
    width:75%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.logo{
    width:150px;
    margin-bottom:8px;
}

.text{
    margin-top:0;
    margin-bottom:5px;
}

.subtext{
    color:#667085;
    font-size:16px;
    margin-top:0;
}

.white-container{
    text-align:left;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    background-color: #fff;
    border-radius: 12px;
    padding:1.5em 2em;
}

.form-element{
    margin-bottom: 10px;
}

.form-label{
    color:#341f54;
}

.form-input{
    width:90%;
    padding:5px 8px;
}

.button-container{
    text-align:center
}

.button{
    margin-top: 20px;
    border:none;
    background-color:#341f54;
    border-radius: 8px;
    color:#fff;
    padding:1em;
}

@media only screen and (min-width: 1000px){
    .center-container{
        width:20%;
    }
}